[Unit]
Description= Blink LED
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3/home/sel/SEL0337/blink.py
ExecStop=/usr/bin/python3/home/sel/SEL0337/blink2.py
user=SEL

[Install]
WantedBy=multi-user.target
